html {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  max-width: 100svw;
  font-family: "Ubuntu", sans-serif;
}
body {
  margin: 0;
}

/* Header */

header {
  /* background-color: #1f3044;
  background-color: #001739; */
  background: linear-gradient(#273d55, #001739);
  background: linear-gradient(#115085, #001739);

  position: fixed;
  top: 0;
  z-index: 99;
  width: 100svw;
}
.header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* padding: 20px 40px 40px 40px; */
  padding: 15px 40px 5px 40px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.social-links {
  color: #ffffff;
}
.social-links h5 {
  font-size: 14px;
}
.social-links__bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: space-between; */
  /* border: white 1px solid; */
  gap: 25px;
}
.social-links__bottom .tel {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 100;
  font-size: 14px;
}
.social-links__bottom .tel a {
  color: #ffffff;
  text-decoration: none;
  transition: text-shadow 0.2s ease-in-out;
}
.social-links__bottom .tel a:hover {
  text-shadow: white 0 0 2px;
}

.social-links__bottom ul {
  /* background-color: #ffffff; */
  display: flex;
  flex-direction: row;
  /* justify-content: space-around; */
  align-items: center;
  list-style: none;
  gap: 25px;
  /* border: white 1px solid; */
  padding: 0;
}
.social-links__bottom ul img {
  width: 25px;
  /* filter: invert(100%); */
  /* border: white 1px solid; */
  transition: scale 0.2s ease-in-out;
}
.social-links__bottom ul li:first-child img {
  width: 20px;
}
.social-links__bottom ul img:hover {
  scale: 1.3;
}

header .desktop__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  margin-top: -15px;
}
header .desktop__nav li {
  list-style: none;
}
header .desktop__nav li a {
  color: #ffffff;
  list-style: none;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.3px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  /* text-shadow: #fb9039 1px 0 10px; */
  /* text-shadow: white 0px 0 5px; */
}
/* header .desktop__nav li:first-child a {
  text-shadow: white 0px 0 5px;
} */
/* header .desktop__nav li:first-child {
  background-color: #103156;
  box-shadow: 0 0 20px 0 rgba(215, 222, 228, 0.2);
  border-radius: 6px;
  padding: 3px 8px;
} */
/* header .desktop__nav li:nth-child(2) a {
  text-shadow: white 0 0 10px;
} */
header .desktop__nav li:nth-child(1) {
  padding: 5px 8px;
  border-bottom: 2px white solid;
  margin-top: 2px;
  text-shadow: white 0 0 20px;
}
/* header .desktop__nav li:nth-child(3) a {
  text-shadow: white 0 0 10px;
} */

/* header .desktop__nav li:nth-child(4) {
  padding: 5px 8px;
  border-bottom: 2px white solid;
  margin-top: 2px;
} */

header .desktop__nav li a:hover {
  /* color: #fb9039;
  text-shadow: #fb9039 0px 0 2px; */
  text-shadow: white 0 0 20px;
}
header .open-mobile-menu__btn {
  display: none;
  width: 30px;
}
header .close-mobile-menu__btn {
  /* display: none; */
  width: 30px;
}
header .mobile__nav {
  background-color: #1f3044;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100svw;
  height: 100svh;
  transform: translateY(-150%);
  transition: transform ease-in-out 0.2s;
}

header .mobile__nav .mobile-nav__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 80px;
}

@media (max-width: 1000px) {
  header .desktop__nav {
    display: none;
  }
  header .open-mobile-menu__btn {
    display: block;
  }
}
@media (max-width: 675px) {
  .header__wrapper {
    padding: 30px;
  }
}

@media (max-width: 450px) {
  .header__wrapper .logo {
    font-size: 14px;
  }
}
/* Footer */

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: #1f3044;
  background-color: #001739; */
  background: linear-gradient(#115085, #001739);
}
.footer__wrapper {
  max-width: 1000px;
}
footer .footer__main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .contacts {
  max-width: 25svw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 50px 20px;
  gap: 20px;
}
footer .contacts__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .contacts__title h6 {
  color: #ffffff;
  font-size: 22px;
  margin: 0;
}
footer .contacts__title p {
  color: #496a8a;
  font-size: 14px;
  line-height: 24px;
}
footer .contacts__content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .contacts__content a {
  color: #ffffff;
  font-style: italic;
  text-decoration: none;
}
footer .contacts__content a img {
  text-align: center;
  align-content: center;
  width: 30px;
  margin-bottom: -10px;
  margin-left: -5px;
}

footer .contacts__content ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  list-style: none;
  margin: 0;
  gap: 15px;
}

footer .contacts__content ul img {
  width: 25px;
  margin: 0;
}

footer .contacts__content ul li:first-child img {
  width: 20px;
  margin: 0;
}

footer .footer__photo img {
  max-width: 400px;
  border-radius: 12px;
}
footer .bottom-information {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
footer .bottom-information a {
  text-decoration: none;
  font-size: 12px;
  color: #496a8a;
  cursor: pointer;
}
footer .bottom-information span {
  text-decoration: none;
  font-size: 12px;
  color: #496a8a;
}

@media (max-width: 850px) {
  .footer__wrapper {
    padding: 40px 80px;
  }
  .footer__wrapper .footer__main {
    flex-direction: column;
    gap: 20px;
  }
  footer .footer__photo img {
    width: 100%;
  }

  .footer__wrapper .footer__main .contacts {
    width: 100%;
    max-width: none;
  }

  footer .about-us {
    max-width: 100%;
    padding: 40px 80px;
  }
}

@media (max-width: 675px) {
  footer .about-us {
    padding: 40px 30px;
  }
  .footer__wrapper {
    padding: 40px 30px;
  }
}

@media (max-width: 450px) {
  footer .contacts {
    padding: 0;
  }
}
